<footer>
    <div class="footer">
        <div class="logo-container">
          <p>World’s Most Trusted Performance <br>Marketing Platform.</p>
          <a href="/"><img src="/img/logo.png" alt="" class="footer-img"></a>
          <a href="mailto:support@offershub.com">support@offershub.com</a>
        </div>
        <div class="li-container">
          <ul>
            <h3>Product</h3>
            <a href="/features"><li> Features </li></a>
            <a href="/pricing"><li> Pricing </li></a>
            <a href="/saasCloud"><li> Cloud Saas </li></a>
            <a href="/onPremise"><li> On-Premise </li></a>
            <a href="/securityCompliance"><li> Security & Compliance </li></a>
          </ul>
          <ul>
            <h3>Solutions</h3>
            <a href="/affiliateNetwork"><li> Affiliate Network </li></a>
            <a href="/mediaBuyers"><li> Media Buyer </li></a>
            <a href="/advertisers"><li> Advertisers </li></a>
            <a href="/agencies"><li> Agencies </li></a>
            <a href="/emailMarketers"><li> Email Marketers </li></a>
            <a href="/apiIntegration"><li> API Integration </li></a>
          </ul>
          <ul>
            <h3>Company</h3>
            <li> About Us </li>
            <li> Blog </li>
            <li> Careers </li>
            <a href="/privacy"><li> Privacy Policy </li></a>
            <a href="/terms"><li> Terms of Service </li></a>
            <li> Contact Us </li>
          </ul>
        </div>
    </div>
  <div class="copyright">
    <p>© 2017-2024 OffersHub (PVT) LTD</p>
    <div class="copyright-section">
        <a href="/privacy"><p>Privacy & Policy</p></a>
        <p>FAQ</p>
        <a href="/terms"><p>Terms</p></a>
    </div>
  </div>
</footer>