<footer>
    <div class="footer">
        <div class="logo-container">
          <p>World’s Most Trusted Performance <br>Marketing Platform.</p>
          <a href="/"><img src="/img/logo.png" alt="" class="footer-img"></a>
          <a href="mailto:support@offershub.com">support@offershub.com</a>
          <div class="icons">
        <a href="https://www.instagram.com/offershub/"><img src="/img/instagram.png" alt="" ></a>
        <a href="https://www.facebook.com/offershub.io"><img src="/img/facebook.png" alt="" ></a>
        <a href="https://www.linkedin.com/company/offershub/product/"><img src="/img/linkedin.png" alt="" ></a>
        <a href="https://www.youtube.com/@offershubsupport9350"><img src="/img/youtube.png" alt="" ></a>
          </div>
        </div>
        <div class="li-container">
          <ul>
            <h3>Product</h3>
            <a href="/features"><li> Features </li></a>
            <a href="/pricing"><li> Pricing </li></a>
            <a href="/saasCloud"><li> Cloud Saas </li></a>
            <a href="/onPremise"><li> On-Premise </li></a>
            <a href="/securityCompliance"><li> Security & Compliance </li></a>
          </ul>
          <ul>
            <h3>Solutions</h3>
            <a href="/affiliateNetwork"><li> Affiliate Network </li></a>
            <a href="/mediaBuyers"><li> Media Buyer </li></a>
            <a href="/advertisers"><li> Advertisers </li></a>
            <a href="/agencies"><li> Agencies </li></a>
          </ul>
          <ul>
            <h3>Company</h3>
            <a href="/aboutUs"><li> About Us </li></a>
            <a href="/blogs"><li> Blog </li></a>
            <a href="/case-studies"><li> Success Stories </li></a>
            <li> Careers </li>
            <a href="/privacy"><li> Privacy Policy </li></a>
            <a href="/terms"><li> Terms of Service </li></a>
            <!-- <a href="/contactUs"><li> Contact Us </li></a> -->
            <a href="/create-content"><li> Draft a Story </li></a>
          </ul>
        </div>
    </div>
  <div class="copyright">
    <div class="copyright-section">
        <a href="/privacy"><p>Privacy & Policy</p></a>
        <p>FAQ</p>
        <a href="/terms"><p>Terms</p></a>
    </div>
    <p>© 2017-2024 OffersHub (PVT) LTD</p>
  </div>
</footer>