<header>
  <div class="header">
    <div class="header-div">
      <!-- <i class="fa fa-bars" id="bar"></i> -->
       <img src="/img/bar.png" alt="" id="bar">
      <a href="/"><img src="/img/offershublogo.png" alt="" class="footer-img"></a>
      <div class="header-container">
        <ul class="header-ul">
          <!-- <i class="fa fa-times" ></i> -->
          <img src="/img/cross.png" alt="" id="closeSidebar">
          <a href="/">
            <li>Home</li>
          </a> 
          <li class="dropdown">Solutions <i class="fa fa-caret-down"></i>
            <div class="dropdown-content">
              <ul>
                <a href="/overview">
                  <li><i class="fa fa-bar-chart"></i> Overview</li>
                </a>
                <a href="/saasCloud">
                  <li><i class="fa fa-cloud"></i> SaaS Cloud</li>
                </a>
                <a href="/onPremise">
                  <li><i class="fa fa-building-o"></i> On-Premise</li>
                </a>
                <a href="/ecommercetracking">
                  <li><i class="fa fa-shopping-cart"></i> E-Commerce Tracking</li>
                </a>
              </ul>
            </div>
          </li>
          <a href="/features">
            <li>Features</li>
          </a>
          <a href="/pricing">
            <li>Pricing</li>
          </a>
          <li class="dropdown">Resources <i class="fa fa-caret-down"></i>
            <div class="dropdown-content">
              <ul>
                <a href="/blogs">
                  <li><i class="fa fa-file"></i> Blog </li>
                </a>
                <li><i class="fa fa-check-circle"></i> Success Stories </li>
                <a href="https://help.offershub.com/">
                  <li><i class="fa fa-book"></i> Knowledge Base <i class="fa fa-share-square-o"></i></li>
                </a>
                <a href="/securityCompliance">
                  <li><i class="fa fa-shield"></i> Security & Compliance </li>
                </a>
                <li class="dropdown-co"><i class="fa fa-code"></i> Api Docs <i class="fa fa-caret-down"></i>
                  <div class="dropdown-content-ul">
                    <ul>
                      <a href="https://docs.offershub.com/api-docs/partner-api/">
                        <li><i class="fa fa-code"></i> Partner Api <i class="fa fa-share-square-o"></i></li>
                      </a>
                      <a href="https://docs.offershub.com/api-docs/affiliate-api/">
                        <li><i class="fa fa-code"></i> Affiliate Api <i class="fa fa-share-square-o"></i></li>
                      </a>
                      <a href="https://docs.offershub.com/api-docs/advertiser-api/">
                        <li><i class="fa fa-code"></i> Advertiser Api <i class="fa fa-share-square-o"></i></li>
                      </a>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <a href="/contactUs">
            <li>Contact Us</li>
          </a>
          <button class="buttondemo"><span>Book a demo</span></button>
        </ul>
      </div>
    </div>
  </div>
</header>

<script src="/js/header.js"></script>