<div class="trial-container">
    <div class="trial">
      <div class="trial1 block">
        <h3>Start Your Affiliate Network Today</h3>
        <p>Launch your affiliate network with OffersHub—track, boost conversions, and grow revenue effortlessly.
        </p>
        <a href="/demo"><button class="button"><span>Try it for free now!</span></button></a>
      </div>
      <div class="trial2 block">
        <h3>Schedule Meeting with Our Experts</h3>
        <p>Book a demo with our experts to explore powerful features and maximize your affiliate growth.</p>
        <a href="https://calendly.com/palak-5acl/30min"><button class="button"><span>Schedule a Meeting</span></button></a>
      </div>
    </div>
  </div>